html, body {
margin: 0;
height: 100%;
}
.header-div{ 
width: 100%;
height: 250px;
background-image: url("Youth_Soccer.jpg");
}
h1{
font-family: cursive;
top: 100px;
color: green;
font-family: Arial, Helvetica, sans-serif;
}
.section{
width: 100%;
height: 50px;
background-color: green;
color: white;
text-align: center;
padding-top: 10px;
outline-color: black;
outline-style: double;
}
h2 {
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 0px;
margin-top: 5px;
}
.logo_image{
height: 150px;
width: 150px;
position: absolute;
right: 100px;
bottom: 390px;
top: 225px
}
.menu {
width: 200px;
font-family: Arial, Helvetica, sans-serif;
float: left;
margin-top: 50px;
margin-left: 30px;
background-color: chartreuse;
border: double;
text-align: center;
}
#main-page{
text-decoration: underline;
color: black;
padding-bottom: 20px;
}
.other-pages{
padding-bottom: 20px;
padding-top: 20px;
}
.other-pages a{
text-decoration: none;
color: black;
}
.div-content{
    overflow: auto;
    height: 450px;
    width: 80%;
    margin-top: 50px;
}
.content{
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
padding-top: 50px;
width: 80%;
float: right;
padding-right: 20px;
}
.content p{
padding-right: 15px;
margin-top: 0px;

} 
.Tcontent{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    top: 0;
}  
h3{
margin-top: 0px;
margin-bottom: 0px;
}
li {
    padding-bottom: 10px;
}